.header {
  background-color: rgb(26, 26, 26);
  background-color: hsl(0, 0%, 10%);
  color: rgb(255, 255, 255);
  color: hsl(0, 100%, 100%);
}

.header .container {
  max-width: 960px;
  padding: 0px 4px;
}

.logo a i, .nav ul li a, .nav-toggle a i {
  line-height: 48px;
}

.nav ul li {
  display: inline-block;
  padding: 0px 8px;
}

.nav ul li a {
  font-family: "Josefin Slab", arial, helvetica, sans-serif;
  font-size: 2.4rem;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: hsla(0, 0%, 0%, 0.8);
  color: rgb(255, 255, 255);
  color: hsl(0, 100%, 100%);
  overflow: scroll;
  padding: 80px 40px;
  text-align: center;
}

.nav-overlay ul li {
  padding: 16px 0px;
}

.nav-overlay ul li a {
  font-family: "Josefin Slab", arial, helvetica, sans-serif;
  font-size: 4.8rem;
}

.nav-toggle {
  position: relative;
  z-index: 999;
}

.nav {
  display: none;
}

.nav-toggle {
  display: block;
}

@media only screen and (min-width: 760px) {
  .nav {
    display: block;
  }

  .nav-toggle {
    display: none;
  }
}
