.sub-header {
  background: url(https://www.lorempixel.com/1920/1200/abstract/5) no-repeat center / cover;
}

.sub-header .container {
  padding: 120px 40px;
}

.content-1 {
  background-color: rgb(230, 230, 230);
  background-color: hsl(0, 0%, 90%);
}

.content-1 .container {
  padding: 40px;
}

.content-2 {
  background-color: rgb(204, 204, 204);
  background-color: hsl(0, 0%, 80%);
}

.content-2 .container {
  padding: 40px;
}

.content-3 {
  background-color: rgb(230, 230, 230);
  background-color: hsl(0, 0%, 90%);
}

.content-3 .container {
  padding: 40px;
}

.map {
  height: 33vh;
  width: 100%;
}
