.footer {
  background-color: rgb(26, 26, 26);
  background-color: hsl(0, 0%, 10%);
  color: rgb(255, 255, 255);
  color: hsl(0, 100%, 100%);
}

.footer .container {
  max-width: 960px;
  padding: 40px;
}

.footer a i {
  margin: 20px 0px;
}
