.overflow-hidden {
  overflow: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

img {
  margin-bottom: 20px;
}

video {
  margin-bottom: 20px;
}
